In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Create

In [3]:
series_var = pd.Series([1,3,5,np.nan,6,8])
print(series_var)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20180801',periods=10)
print(dates)

DatetimeIndex(['2018-08-01', '2018-08-02', '2018-08-03', '2018-08-04',
               '2018-08-05', '2018-08-06', '2018-08-07', '2018-08-08',
               '2018-08-09', '2018-08-10'],
              dtype='datetime64[ns]', freq='D')

In [7]:
sample_dataframe = pd.DataFrame(np.random.randn(10,6),index=dates,columns=['v1','v2','v3','v4','v5','v6'])
sample_dataframe

                  v1        v2        v3        v4        v5        v6
2018-08-01  0.216848  0.281554 -0.156930 -0.578780 -1.689995 -1.265830
2018-08-02  1.365604 -0.239468 -0.272141  0.371737 -1.756986 -0.722804
2018-08-03  0.534784 -0.847198  0.163824  0.219764  0.943967  0.351440
2018-08-04  0.023099 -1.300226 -0.681068  1.049650  2.096780  0.173361
2018-08-05  0.201207  1.857531 -0.908468 -0.049868 -1.229787  0.507861
2018-08-06 -0.312132  0.905072 -0.185002 -1.932770  0.904287  0.737704
2018-08-07  0.286606 -0.034927 -0.108043 -0.335718 -0.469233  0.652403
2018-08-08 -0.642749 -1.213402  0.128109  0.543778 -1.895347  0.533501
2018-08-09  0.444789  1.314447  2.367468 -1.909817 -0.482828  1.961512
2018-08-10  0.579995  1.367809 -0.941620 -0.666357  0.396444 -0.029800

In [10]:
sample_dataframe_from_dict = pd.DataFrame({
    'c1':1.,
    'c2':pd.Timestamp('20180801'),
    'c3':pd.Series(1,index=list(range(4)),dtype='float64'),
    'c4':np.array([3]*4, dtype='int64'),
    'c5':pd.Categorical(['hello','zepp','I want to play a game!','Rules are rules!']),
    'c6':'foo'
})

sample_dataframe_from_dict

    c1         c2   c3  c4                      c5   c6
0  1.0 2018-08-01  1.0   3                   hello  foo
1  1.0 2018-08-01  1.0   3                    zepp  foo
2  1.0 2018-08-01  1.0   3  I want to play a game!  foo
3  1.0 2018-08-01  1.0   3        Rules are rules!  foo

In [11]:
print(sample_dataframe_from_dict.dtypes)

c1           float64
c2    datetime64[ns]
c3           float64
c4             int64
c5          category
c6            object
dtype: object

# View

In [13]:
sample_dataframe.head()

                  v1        v2        v3        v4        v5        v6
2018-08-01  0.216848  0.281554 -0.156930 -0.578780 -1.689995 -1.265830
2018-08-02  1.365604 -0.239468 -0.272141  0.371737 -1.756986 -0.722804
2018-08-03  0.534784 -0.847198  0.163824  0.219764  0.943967  0.351440
2018-08-04  0.023099 -1.300226 -0.681068  1.049650  2.096780  0.173361
2018-08-05  0.201207  1.857531 -0.908468 -0.049868 -1.229787  0.507861

In [14]:
sample_dataframe_from_dict.tail(3)

    c1         c2   c3  c4                      c5   c6
1  1.0 2018-08-01  1.0   3                    zepp  foo
2  1.0 2018-08-01  1.0   3  I want to play a game!  foo
3  1.0 2018-08-01  1.0   3        Rules are rules!  foo

In [23]:
print('-'*50,'Index','-'*50)
print(sample_dataframe.index)
print('-'*50,'Describe','-'*50)
print(sample_dataframe.describe())
print('-'*50,'Transponse','-'*50)
print(sample_dataframe.T)
print('-'*100)

('--------------------------------------------------', 'Index', '--------------------------------------------------')
DatetimeIndex(['2018-08-01', '2018-08-02', '2018-08-03', '2018-08-04',
               '2018-08-05', '2018-08-06', '2018-08-07', '2018-08-08',
               '2018-08-09', '2018-08-10'],
              dtype='datetime64[ns]', freq='D')
('--------------------------------------------------', 'Describe', '--------------------------------------------------')
              v6         v5         v4         v3         v2         v1
count  10.000000  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.289935  -0.318270  -0.328838  -0.059387   0.209119   0.269805
std     0.869132   1.364250   0.987691   0.938870   1.127901   0.541386
min    -1.265830  -1.895347  -1.932770  -0.941620  -1.300226  -0.642749
25%     0.020990  -1.574943  -0.644463  -0.578837  -0.695265   0.067626
50%     0.429650  -0.476030  -0.192793  -0.170966   0.123314   0.251727
75%     0.622677   0.777326   0.333744   0.069071   1.212103   0.512285
max     1.961512   2.096780   1.049650   2.367468   1.857531   1.365604
('--------------------------------------------------', 'Transponse', '--------------------------------------------------')
    2018-08-01  2018-08-02  2018-08-03  2018-08-04  2018-08-05  2018-08-06  \
v6   -1.265830   -0.722804    0.351440    0.173361    0.507861    0.737704
v5   -1.689995   -1.756986    0.943967    2.096780   -1.229787    0.904287
v4   -0.578780    0.371737    0.219764    1.049650   -0.049868   -1.932770
v3   -0.156930   -0.272141    0.163824   -0.681068   -0.908468   -0.185002
v2    0.281554   -0.239468   -0.847198   -1.300226    1.857531    0.905072
v1    0.216848    1.365604    0.534784    0.023099    0.201207   -0.312132

    2018-08-07  2018-08-08  2018-08-09  2018-08-10
v6    0.652403    0.533501    1.961512   -0.029800
v5   -0.469233   -1.895347   -0.482828    0.396444
v4   -0.335718    0.543778   -1.909817   -0.666357
v3   -0.108043    0.128109    2.367468   -0.941620
v2   -0.034927   -1.213402    1.314447    1.367809
v1    0.286606   -0.642749    0.444789    0.579995
----------------------------------------------------------------------------------------------------

In [28]:
print('-'*50,'Sort by Index','-'*50)
# axis=0 row index | axis = 1 col index

print(sample_dataframe.sort_index(axis=1,ascending=False))

print('-'*50,'Sort by Value','-'*50)
print(sample_dataframe.sort_values(by='v3'))

('--------------------------------------------------', 'Sort by Index', '--------------------------------------------------')
                  v6        v5        v4        v3        v2        v1
2018-08-01 -1.265830 -1.689995 -0.578780 -0.156930  0.281554  0.216848
2018-08-02 -0.722804 -1.756986  0.371737 -0.272141 -0.239468  1.365604
2018-08-03  0.351440  0.943967  0.219764  0.163824 -0.847198  0.534784
2018-08-04  0.173361  2.096780  1.049650 -0.681068 -1.300226  0.023099
2018-08-05  0.507861 -1.229787 -0.049868 -0.908468  1.857531  0.201207
2018-08-06  0.737704  0.904287 -1.932770 -0.185002  0.905072 -0.312132
2018-08-07  0.652403 -0.469233 -0.335718 -0.108043 -0.034927  0.286606
2018-08-08  0.533501 -1.895347  0.543778  0.128109 -1.213402 -0.642749
2018-08-09  1.961512 -0.482828 -1.909817  2.367468  1.314447  0.444789
2018-08-10 -0.029800  0.396444 -0.666357 -0.941620  1.367809  0.579995
('--------------------------------------------------', 'Sort by Value', '--------------------------------------------------')
                  v6        v5        v4        v3        v2        v1
2018-08-10 -0.029800  0.396444 -0.666357 -0.941620  1.367809  0.579995
2018-08-05  0.507861 -1.229787 -0.049868 -0.908468  1.857531  0.201207
2018-08-04  0.173361  2.096780  1.049650 -0.681068 -1.300226  0.023099
2018-08-02 -0.722804 -1.756986  0.371737 -0.272141 -0.239468  1.365604
2018-08-06  0.737704  0.904287 -1.932770 -0.185002  0.905072 -0.312132
2018-08-01 -1.265830 -1.689995 -0.578780 -0.156930  0.281554  0.216848
2018-08-07  0.652403 -0.469233 -0.335718 -0.108043 -0.034927  0.286606
2018-08-08  0.533501 -1.895347  0.543778  0.128109 -1.213402 -0.642749
2018-08-03  0.351440  0.943967  0.219764  0.163824 -0.847198  0.534784
2018-08-09  1.961512 -0.482828 -1.909817  2.367468  1.314447  0.444789

# Selection

In [29]:
#select by column name
sample_dataframe_from_dict['c2']

0   2018-08-01
1   2018-08-01
2   2018-08-01
3   2018-08-01
Name: c2, dtype: datetime64[ns]

In [30]:
#select by slicing rows
sample_dataframe_from_dict[0:2]

    c1         c2   c3  c4     c5   c6
0  1.0 2018-08-01  1.0   3  hello  foo
1  1.0 2018-08-01  1.0   3   zepp  foo

In [31]:
#cross-select by label
sample_dataframe.loc[dates[0],['v1','v5']]

v1    0.216848
v5   -1.689995
Name: 2018-08-01 00:00:00, dtype: float64

In [32]:
#cross-select by position -- use slicing/list of positions
sample_dataframe.iloc[1:3,2:4]

                  v4        v3
2018-08-02  0.371737 -0.272141
2018-08-03  0.219764  0.163824

In [34]:
#boolean indexing based selection
sample_dataframe[sample_dataframe.v1 > 0.5] # filters rows where v1 > 0.5

                  v6        v5        v4        v3        v2        v1
2018-08-02 -0.722804 -1.756986  0.371737 -0.272141 -0.239468  1.365604
2018-08-03  0.351440  0.943967  0.219764  0.163824 -0.847198  0.534784
2018-08-10 -0.029800  0.396444 -0.666357 -0.941620  1.367809  0.579995

In [37]:
# filter using 'isin'
sample_dataframe_from_dict[sample_dataframe_from_dict.c5.isin(['zepp'])]

    c1         c2   c3  c4    c5   c6
1  1.0 2018-08-01  1.0   3  zepp  foo

# Handling missing data

In [40]:
#reindex lets reorganizing dataframe and returns a copy of it
sample_dataframe_copy = sample_dataframe.reindex(index=dates[1:2],columns=list(sample_dataframe.columns)+['x0','x1'])
sample_dataframe_copy

                  v6        v5        v4        v3        v2        v1  x0  x1
2018-08-02 -0.722804 -1.756986  0.371737 -0.272141 -0.239468  1.365604 NaN NaN

In [45]:
sample_dataframe_copy.iloc[0:1,[len(sample_dataframe_copy.columns)-1]] = 2.21
sample_dataframe_copy

,v6,v5,v4,v3,v2,v1,x0,x1
2018-08-02,-0.722804,-1.756986,0.371737,-0.272141,-0.239468,1.365604,NaN,2.21

In [48]:
sample_dataframe_copy.dropna(axis=1,how='any')
sample_dataframe_copy # nothing gets removed ?

,v6,v5,v4,v3,v2,v1,x0,x1
2018-08-02,-0.722804,-1.756986,0.371737,-0.272141,-0.239468,1.365604,NaN,2.21

# Operations

In [ ]:
# apply